<footer>
	<!-- Start Button -->
	<div class="left-position-bar">
		<button mat-button [matMenuTriggerFor]="menu" class="footerBar-btn">
			<div class="button-content">
				<img src="../../assets/icons/png/windows-0.png" alt="Windows 98 logo">
				<span class="start-text">Start</span>
			</div>
		</button>

		<!-- && calcBarsOpened < displayLimit ? 'block' : 'none' -->
		<!-- Iterate over desktop icons to create buttons -->
		<button mat-button class="footerBarHorizontal-btn" *ngFor="let window of communicationService.iconsDesktop; let calcBarsOpened = index"
			[style.display]="(window.isWindowOpen === 'yes' || window.isWindowOpen === 'maybe') ? 'block' : 'none'"
			(click)="communicationService.openAgainWindow(window)">
			<div class="button-content">
				<img src="{{window.path}}" alt="Icon {{window.name}}">
				<span>{{ window.name }}</span>
			</div>
		</button>
	</div>

	<!-- Start Menu -->
	<mat-menu #menu="matMenu">
		<ng-container *ngFor="let icons of communicationService.programsOfMenu">
			<!-- Separate handling for 'Programs' button -->
			<button mat-menu-item *ngIf="icons.name === 'Programs'" [matMenuTriggerFor]="programs">
				<img src="{{ icons.icon }}" alt="Icon {{ icons.name }}">
				<p>{{ icons.name }}</p>
			</button>

			<!-- Other menu items -->
			<button mat-menu-item *ngIf="icons.name !== 'Programs'">
				<img src="{{ icons.icon }}" alt="Icon {{ icons.name }}">
				<p>{{ icons.name }}</p>
			</button>
		</ng-container>

		<!-- Programs menu -->
		<mat-menu #programs="matMenu" class="hiddenMenu">
			<button mat-menu-item class="hiddenItem" [matMenuTriggerFor]="accessories">
				<img src="../../assets/icons_new/icon_programs.png" alt="Calculator icon">
				<p>Accessories</p>
			</button>
			<button mat-menu-item class="hiddenItem" >
				<img src="../../assets/icons_new/icon_newspaper.png" alt="Calculator icon">
				<p>Internet News</p>
			</button>
			<button mat-menu-item class="hiddenItem" >
				<img src="../../assets/icons_new/icon_ms.png" alt="Calculator icon">
				<p>MS-DOS Prompt</p>
			</button>
			<button mat-menu-item class="hiddenItem" >
				<img src="../../assets/icons_new/icon_mail.png" alt="Calculator icon">
				<p>Internet Mail</p>
			</button>
			<button mat-menu-item class="hiddenItem">
				<img src="../../assets/icons_new/icon_internet.png" alt="Internet icon"  (click)="communicationService.openWindow(0)">
				<p>Internet Explorer</p>
			</button>			
		</mat-menu>

		<!-- Accessories menu -->
		<mat-menu #accessories="matMenu" class="hiddenMenu">
			<button mat-menu-item class="hiddenItem">
				<img src="../../assets/icons_new/icon_calculator.png" alt="Calculator icon">
				<p>Calculator</p>
			</button>
			<button mat-menu-item class="hiddenItem">
				<img src="../../assets/icons_new/icon_noted.png" alt="Notepad icon">
				<p>Notepad</p>
			</button>
			<button mat-menu-item class="hiddenItem">
				<img src="../../assets/icons_new/icon_paint.png" alt="Paint icon">
				<p>Paint</p>
			</button>
		</mat-menu>

		<div class="line"></div>

		<!-- Shutdown button -->
		<button mat-menu-item>
			<img src="../../assets/icons_new/icon_shut.png" alt="Icon shutdown">
			<p>Shut Down</p>
		</button>
	</mat-menu>

	<!-- Clock and Sound Button -->
	<button class="footerClock-btn lright">
		<img src="../../assets/icons_new/icon_sound.svg" alt="Icon clock">
		<div id="clock">{{ timeString }}</div>
	</button>
</footer>
